
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* @media (min-width: 768px) { 
    div.relative {
        position: relative;
        left: 400px;
        
    }
} */
.navbar{
    position: fixed !important;
    width:100%;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 150;
    box-shadow: 1px 1px 1px rgba(0,0,0, .4)
}

@media (min-width: 768px) { 
.nav-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 5fr 1fr;
  }
 
}

/* navbar */

@media (min-width: 768px) { 
    .navbar-brand{
        visibility: visible;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.10909;
        letter-spacing: 3px;
    }
}

.navbar-light a {
    color: #fff;
    font-weight: 100;
}

.navbar-default {
    background-color:#1976d2;
    color: #fff;

}
.nav-item{
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-item a{
    color:#fff;
    font-weight: 300;
}

.dropdown-menu a{
    color: #1976d2;
    font-family: inherit;
    font-size: 12px;
}

/* FOOTER */
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
    font-size: 14px;
    
    height: 60px;
    /* display: inline-block; */
 }
 .footer p{
    font-weight: 200;
    margin: 10px;
    letter-spacing: 1px;
 }

 .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr ;
  }

  .footer-social{
      margin: auto;
  }

 .fa {
    /* padding: 20px; */
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: -10px -2px;
    background:transparent;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    /* background: #3B5998; */
    color: white;
  }
  
  .fa-twitter {
    /* background: #55ACEE; */
    color: white;
  }
  
  .fa-google {
    /* background: #dd4b39; */
    color: white;
  }
  
  .fa-linkedin {
    /* background: #007bb5; */
    color: white;
  }
  
  .fa-youtube {
    /* background: #bb0000; */
    color: white;
  }
  
  .fa-instagram {
    /* background: #125688; */
    color: white;
  }


  /* carousel.css */
  /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
  
  